<section id="contact" class="fade-section">
  <div class="section-container">
    <h2>Start Something Serious</h2>
    <p>
      If you're building something that matters, <em>that must succeed</em>,
      then let's get serious.
    </p><p>
      Whether you're starting from an idea, an invention, a patent, or a fully
      formed company, we’re ready to help you build the institutional backbone
      it needs.
    </p>
    <blockquote>
      Start with a problem.<br />Build with good explanations.<br />Rapidly
      adapt to the real world.
    </blockquote>
    <p><em>Ready to start something serious?</em></p>
    <div class="cta-container">
      <a
        href="https://forms.gle/YE3KcbWnXNLPSAkr8"
        target="_blank"
        class="cta-button">Request a Meeting</a
      >
    </div>
  </div>
</section>
