---
import Telemetry from "./Telemetry.astro";
---

<section id="home" class="">
  <h1 class="sr-only">Steel Muse</h1>
  <img id="hero-logo" src="/images/smlogo.png" alt="Steel Muse" />
  <p id="tagline">Start Something Serious</p>
  <Telemetry />
  <div id="scroll">
    <svg
      class="scroll-icon"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 -960 960 960"
    >
      <path
        d="M480-200 240-440l56-56 184 183 184-183 56 56-240 240Zm0-240L240-680l56-56 184 183 184-183 56 56-240 240Z"
      ></path>
    </svg>
  </div>
</section>
